body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.btn{
  padding: 20px;
}

p{
  text-align: center;
  color: blue;
  font-size: 30px;
  font-family: sans-serif;
}

body{
  text-align: center;
}
